{
  "plugins": ["import"],
  "extends": ["react-app"],
  "rules": {
    "import/order": [
      "warn",
      { "newlines-between": "always", "alphabetize": { "order": "asc", "caseInsensitive": true } }
    ]
  }
}
